<!doctype html>
<html lang="en">
<body>
<h3>Hello World</h3>

<input type="button" onclick="location.href = '/';" value="Previous Page"></input>

<input type="button" onclick="location.href = '/test1';" value="APScheduler1"></input>

<input type="button" onclick="location.href = '/test2';" value="APScheduler2"></input>

<input type="button" onclick="location.href = '/test3';" value="APScheduler3"></input>

<br/>
<br/>
{{today}}
<br/>
<br/>
<table width="300" border="1">
  <tr>
    <th>Name</th>
    <th>Next time</th>
  </tr>
{% for running_job in running_jobs %}


  <tr>
    <td>{{running_job.name}}</td>
    <td>{{running_job.next_run_time}}</td>
  </tr>


{% endfor %}

</table>

</body>
</html>